
    <div class="comment-box d-flex">

    <a class="profile-pic " href="#">
        <img class="avatar " src="https://www.dropbox.com/s/4pfagze1ffpqqh4/avatar.png?raw=1" alt="Public avatar">
    </a>
    <div class="comment-details d-flex column ">
        
        <h3 class="user">
            <a  href="#"><%= comment.user.username %>
                <span class="text-muted">3 weeks ago</span>
            </a>
        </h3>
        <p class="comment-content ">
                <%= comment.message_body %></p>
    </div>
    
  </div> 
