  <tr>
        <th scope="row"><%= program.id%></th>
        <td><%= program.course.course_name %></td>
        <td><%= program.batch.batch_name%></td>
        <td><%= link_to  "Edit", edit_programs_path(program) %> </td>
  </tr>
  