<h1>New Program</h1>

<%= form_with model: @program, url: {controller: 'programs', action: 'create'} do |f| %>
  <%= f.select :course_id, @course.collect { |p| [ p.course_name, p.id ] }, include_blank: "-select course-",class: "dropdown-select" %>
  <%= f.select :batch_id, @batch.collect { |p| [ p.batch_name, p.id ] }, include_blank: "-select batch-",class: "dropdown-select" %>
  <%= f.submit 'Create Program' %>
<% end %>
