<div class="page-content d-flex align-items-stretch"> 
     <%= render partial: 'shared/sidebar'  %>
          <div class="content-inner">
                <header class="page-header">
                   <div class="container-fluid">
                    <h2 class="no-margin-bottom">Dashboard</h2>
                  </div>
            </header>   
               
                    <div class="jumbotron ml-5 mr-5">
                        <h1 class="display-4">Announcement!</h1>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam molestiae dolores quibusdam est non? Inventore velit magnam deserunt aperiam sit!</p>
                        <hr class="my-4">
                        <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</li>
                        <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</li>
                                                                        <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</li>
                      </div>
                </section>         
     </div>
</div>
